Client/bin/Debug/Interop.VideoChatReceiverLib.dll
*.dll
Client/bin/Debug/Interop.VideoChatReceiverLib.dll
Client/bin/Debug/Interop.VideoChatSenderLib.dll
Server/obj/x86/Debug/WindowsFormsApplication1.pdb